doctype
html( lang="en" )
    head
    include mixins
        title Free Blogging 
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        +bootswatch("yeti") 
    body(style="padding-bottom:10rem;")
    .row
    .col-md-12.col-sm-12.col-xs-12
     .jumbotron
      h1 Start blogging for free!
      p Create your blogging acount below and start writing some awesome stuff!
    .col-md-6.col-sm-6.col-xs-12
     +panel("Register new account", "primary")
      .panel-body 
         form(action='/users' method='post')
          label Name   
          br
          input(name='name')
          br
          br
          label Email address
          br
          input(name='email')
          br
          br
          label Password
          br
          input(name='password')
          br
          br
          input.btn.btn-primary(type='submit', value='Register')
    .col-md-6.col-sm-6.col-xs-12
     +panel("Login", "primary")
      .panel-body
       form(action='/users' method='post')
         label Email address
         br
         input(name='email')
         br
         br
         label Password
         br
         input(name='password')
         br
         br
         input.btn.btn-primary(type='submit', value='Login')

     

   